# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.6.20
colorama==0.4.3
coverage==5.0
importlib-metadata==1.6.1
more-itertools==8.4.0
packaging==20.4
Pillow==7.1.2
pluggy==0.13.1
py==1.8.2
pyparsing==2.4.7
PySDL2==0.9.7
pytest==5.4.3
pytest-cov==2.9.0
six==1.15.0
wcwidth==0.2.4
wincertstore==0.2
zipp==3.1.0
pip==20.1.1
setuptools==47.3.0
wheel==0.34.2
wincertstore==0.2
moviepy==1.0.3
tracery==0.1.1
arrdem.datalog==2.0.1
